@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background: #ddd;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.btn {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  &:hover {
    background: #e31b6d;
    color: #fff !important;
    cursor: pointer;
  }
  &.active {
    background: #e31b6d;
    color: #fff !important;
  }
}

@media only screen and (min-width: 768px) {
  .btn {
    display: inline-block;
    width: 140px;
    padding: 0;
    margin: 1em 0;
  }
}
