.image-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .active {
    display: block;
  }
  .non-active {
    display: none;
  }
  .navigation {
    height: 100%;
    opacity: 0.5;
    color: #ffffff !important;
    min-height: 200px;
    z-index: 100;
    padding: 0.5em;
    padding-top: 90px;
    &:hover {
      opacity: 1;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}
